*{
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

#header{
    height: 100px;
    width: 100%;
    background-color: gray;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    padding-top: 15px;
}

.content{
    padding: 15px;
}

@media screen and (width<600px) {
    #header{
        height: 50px;
        width: 100%;
        background-color: blue;
        font-size: 1.5rem;
        font-weight: 200;
        /* text-align: center; */
        padding-top: 5px;

    }
}